
/**** Desktop Version ****/
@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		width: 33%;
		margin: 5px;
	}
}
	

/**** Tablet Version ****/
@media (max-width: 991px) and (min-width: 768px) {
	.col-md-6 {
		float: left;
		width: 50%;
		margin: 5px;
	}
	.col-md-12 {
		clear: left;
		width: 100%; 
		margin: 5px;
	}
}
	
	
/**** Mobile Version ****/
@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
		width: 100%;
		margin: 5px;
	}
}

/**** General Style ****/

*{

	box-sizing: border-box;
}

body {
	color:#242222;
	font-family: arial helvetica sans-serif;
	font size:18px;
	text-align:justify;
	padding:10px 10px;
}

h1 {
	color: red;
	font-weight: bold;
	font-size:24px;
	text-align: center;
}


}

#chicken {
	background-color:#C4DFE6;
	padding:15px;
	border:1px solid black;
}

#beef {
	background-color:#EDBCC7;
	padding:15px;
	border: 1px solid black;
}

#sushi {
	background-color:#E2B692;
	padding:15px;
	border: 1px solid black;
}

.minititle1 {
	color: orange;
	background-color:#88C5EB;
	background-size:15px 20px;
	font-size:20px;
	text-align: right;
	clear:both;
	padding:10px;
	border: 1px solid black;
}

.minititle2 {
	color: green;
	background-color:#EE93A7;
	background-size: 15px 20px;
	font-size: 20px;
	text-align: right;
	clear:both;
	padding: 10px;
	border: 1px solid black;
}

.minititle3 {
	color: blue;
	background-color:#DF985E;
	background-size: 15px 20px;
	font-size: 20px;
	text-align: right;
	clear: both;
	padding:10px;
	border: 1px solid black;
}