
/**** Desktop Version ****/
@media (min-width: 992px) {
	.col-lg-4 {
		float: left;
		width: 33%;
		margin: 10px;
	}
}
	

/**** Tablet Version ****/
@media (max-width: 991px) and (min-width: 768px) {
	.col-md-6 {
		float: left;
		width: 50%;
		margin: 10px;
	}
	.col-md-12 {
		clear: left;
		width: 100%; 
		margin: 10px;
	}
}
	
	
/**** Mobile Version ****/
@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
		width: 100%;
		margin: 10px;
	}
}

/**** General Style ****/

*{

	box-sizing: border-box;
}

body {
	color: 242222;
	font-family: arial helvetica sans-serif;
	font size:40px;
	text-align:justify;
	padding:10px;
}

h1 {
	color: red;
	font-weight: bold;
	font-size:75%;
	text-align: center;
}


div {
		padding:10px;
}

.chicken {
	background-color: 97CBEC;
}

.beef {
	background-color: EC97BA;
}

.sushi {
	background-color: E4B48D;
}

.minititle1 {
	color: orange;
	background-color: 97CBEC;
	font-size:25%;
	text-align: right;
	clear:both;
}

.minititle2 {
	color: green;
	background-color: EC97BA;
	font-size: 25%;
	text-align: right;
	clear:both;
}

.minititle3 {
	color: blue;
	background-color: E4B48D;
	font-size: 25%;
	text-align: right;
	clear: both;
}