body {
	font-size: 16px;
	color: #fff;
	background-color: #BAD0D0;
	font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: #50BABA;
	border-radius: 0;
	border: 0;
	height: 90px;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 { /*name */
	font-family: 'Cabin', sans-serif; 
	color: #3F6262;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #304747;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .90;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
	margin-top: 10px;
	}


#nav-list {
  margin-top: 10px;
  background: #C58D97;
}

#nav-list a {
  color: #C5465D;
  text-align: center;
  font-size: 2em;
}

#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #3F6262;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}
