body {
	font-size: 16px;
	color: #fff;
	background-color: #BAD0D0;
	font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
	background-color: #50BABA;
	border-radius: 0;
	border: 0;
	height: 90px;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 { /*name */
	font-family: 'Cabin', sans-serif; 
	color: #3F6262;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #304747;
	margin-top: 0;
	margin-bottom: 20px;
	line-height: .90;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
	margin-top: 10px;
	}


#nav-list {
  margin-top: 10px;
  background: #CAA8AE;
}

#nav-list a {
  color: #C5465D;
  text-align: center;
}

#nav-list a:hover {
  background: #CAA8AE;
}
#nav-list a span {
  font-size: 1em;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #3F6262;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -30px;
}

.second {
	font-family: 'Cabin', sans-serif; 
	color: #C5465D;
	font-size: 1.3em;
}

p {
	text-align: justify;
}

section {
	height: 1000px;
	margin-top: 20px;
}

/********** Desktop Version **********/
@media (min-width: 992px) and (max-width: 1199px) {
   
}
/**********  small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
    #p1, #p1, #p3 {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background: #CAA8AE;
    }

    .second {
    	width: 70vp;
    	margin-left: auto;
        margin-right: auto;
    }
    
}